Mengenal parameter header dan skiprows

In [ ]:
from notebook.services.config import ConfigManager
cm = ConfigManager()
cm.update('livereveal', {
    'scroll' : True,
    'width' : '100%',
    'height' : '100%'
})

Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

Persiapan Data Frame

In [5]:
df = pd.read_csv(r"C:\GITHUB\statistics\kaggle_explorations-master\Iris_Data_Classification_and_EDA\dataset\iris\iris.csv")
df.head(8)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa

In [8]:
df = pd.read_csv(r"C:\GITHUB\statistics\kaggle_explorations-master\Iris_Data_Classification_and_EDA\dataset\iris\iris.csv", header = 2, skiprows=[5,6])
df.head()

   2  4.9  3.0  1.4  0.2  Iris-setosa
0  3  4.7  3.2  1.3  0.2  Iris-setosa
1  4  4.6  3.1  1.5  0.2  Iris-setosa
2  7  4.6  3.4  1.4  0.3  Iris-setosa
3  8  5.0  3.4  1.5  0.2  Iris-setosa
4  9  4.4  2.9  1.4  0.2  Iris-setosa